.accordion {
  width: 100%;
  background: #f4f4f4;

  &__header {
    padding: 0 25px;
    height: 80px;
    width: 100%;
    text-align: left;
    @include between(10px);
    cursor: pointer;

    @include media("sm") {
      padding: 20px 20px;
      height: auto;
    }

    .text-h4 {
      font-size: 22px;

      @include media("3xl") {
        font-size: 20px;
      }
    }

    &-icon {
      min-width: 40px;
      width: 40px;
      height: 40px;
      background-color: var(--primary);
      background-image: url("../img/icons/plus.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 26px 26px;
      border-radius: 50%;
      transition: var(--transition-ease);
      display: flex;
      align-items: center;
      justify-content: center;

      @include media("sm") {
        &__header-icon {
          min-width: 35px;
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  &__body {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
  }

  &__content {
    padding: 20px 25px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    @include start(column, 20px);

    @include media("3xl") {
      font-size: 16px;
    }
    @include media("sm") {
      padding: 10px 20px;
      font-size: 14px;
    }
  }

  &.active {
    .accordion__header-icon {
      transform: rotate(-45deg);
    }
  }
}
