.btn {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: var(--transition-ease);

  &.variant-solid {
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
    background: var(--primary);
    border-radius: 999px;

    &:hover {
      background: var(--primary-dark);
    }
  }

  &.size-small {
    padding: 20px 35px;
    font-size: 16px;

    @include media("3xl") {
      padding: 18px 30px;
      font-size: 14px;
    }
  }
}
