---
import App from "../App.astro";
import { Section, Image, Icon, H1, H2, H3, H4 } from "ui";
---

<App title="Главная">
  <main>
    <!-- Intro -->
    <Section name="intro">
      <div class="bg-img">
        <Image src="intro/bg.jpg" />
      </div>

      <div class="intro__content">
        <H2 class="font-semibold">
          Обслуживание кондиционеров, <br /> чистка и заправка фреоном в
          <br /> Москве и Подмосковье!
        </H2>

        <div class="intro__prices">
          <div class="text-h4 font-semibold">
            Чистка кондиционеров от
            <span class="text-gray line-through">3500</span>
            <span class="text-primary">2500₽</span>
          </div>
          <div class="text-h4 font-semibold">
            Заправка фреоном от
            <span class="text-gray line-through">1500</span>
            <span class="text-primary">800₽</span>
          </div>
          <br />
          <div class="text-h4 font-semibold">
            Для любых кондиционеров.
            <span class="text-primary">
              Без предоплаты и со скидкой до 20%
            </span>
          </div>
        </div>

        <div class="intro__advantages">
          <div class="intro__advantages-item">
            <Icon src="check.svg" />
            <div class="text-h5">
              <span class="text-primary font-semibold">Бесплатно</span>
              приедем <br /> и выявим причину <br /> поломки
            </div>
          </div>
          <div class="intro__advantages-item">
            <Icon src="check.svg" />
            <div class="text-h5">
              <span class="text-primary font-semibold">Оплата</span>
              только <span class="font-semibold"
                >после <br /> оказания услуги</span
              >
            </div>
          </div>
          <div class="intro__advantages-item">
            <Icon src="check.svg" />
            <div class="text-h5">
              <span class="font-semibold"> Опыт работы более</span>
              <span class="text-primary font-semibold">10 лет.</span>
              <br />
              За 2023 год выполнили <br /> более
              <span class="text-primary font-semibold">100 заказов</span>
            </div>
          </div>
        </div>

        <div class="intro__bottom">
          <a href="#calculate" class="btn variant-solid">
            Рассчитать стоимость
          </a>
          <div class="text-h5">
            <span class="text-gray">После расчета получите -</span>
            <br />
            <span class="font-semibold">
              скидку на услуги <span class="text-primary">10%</span>
            </span>
          </div>
        </div>
      </div>
    </Section>

    <!-- Calculate -->
    <Section name="calculate" id="calculate">
      <H2 class="font-semibold">
        <span class="text-primary">Рассчитайте стоимость услуг</span>
        <br />
        для вашего кондиционера за 60 секунд
      </H2>
      <!-- <iframe
        src="//quiz.marquiz.ru/65e34a1cb1c84f0026ec36d1?cookies=%7B%22_ym_uid%22%3A%221733549456595564081%22%7D&href=https%3A%2F%2Fclimatleto.ru%2F&mode=inline&referrer=https%3A%2F%2Fclimatleto.ru%2F"
      ></iframe> -->
    </Section>

    <!-- Services -->
    <Section name="services" id="services">
      <H2 class="font-semibold"
        >Команда специалистов готова выполнить <br /> работы любой сложности</H2
      >
      <div class="services__list">
        <div class="services__service">
          <div class="services__service-img">
            <Image src="services/1.jpg" />
          </div>
          <div class="services__service-content">
            <H3 class="font-semibold">Заправка <br /> кондиционеров </H3>
            <ul class="services__service-details">
              <li>Заправка газом: 22, 410, 408, 32</li>
            </ul>
            <div class="services__service-price">от 800 ₽</div>
            <div
              class="btn variant-solid"
              role="button"
              aria-label="Вызвать специалиста"
              tabindex="0"
              data-modal="contact"
            >
              Вызвать специалиста
            </div>
          </div>
        </div>
        <div class="services__service">
          <div class="services__service-img">
            <Image src="services/2.jpg" />
          </div>
          <div class="services__service-content">
            <H3 class="font-semibold">Ремонт <br /> кондиционеров </H3>
            <ul class="services__service-details">
              <li>Замена плат наружнего и внутреннего блока</li>
              <li>Замена компрессора</li>
              <li>Замена конденсаторов</li>
            </ul>
            <div class="services__service-price">от 400 ₽</div>
            <div
              class="btn variant-solid"
              role="button"
              aria-label="Вызвать специалиста"
              tabindex="0"
              data-modal="contact"
            >
              Вызвать специалиста
            </div>
          </div>
        </div>
        <div class="services__service">
          <div class="services__service-img">
            <Image src="services/3.jpg" />
          </div>
          <div class="services__service-content">
            <H3 class="font-semibold">Чистка <br /> кондиционеров </H3>
            <ul class="services__service-details">
              <li>Чистка внутреннего блока поверхностная</li>
              <li>Чистка углублённая устранения грибка и плесени</li>
              <li>Чистка с керхера наружнего блока</li>
            </ul>
            <div class="services__service-price">от 2500 ₽</div>
            <div
              class="btn variant-solid"
              role="button"
              aria-label="Вызвать специалиста"
              tabindex="0"
              data-modal="contact"
            >
              Вызвать специалиста
            </div>
          </div>
        </div>
        <div class="services__service">
          <div class="services__service-img">
            <Image src="services/4.jpg" />
          </div>
          <div class="services__service-content">
            <H3 class="font-semibold">Обслуживание <br /> кондиционеров </H3>
            <ul class="services__service-details">
              <li>Чистка теплообменника</li>
              <li>Замена заправочного клапана</li>
            </ul>
            <div class="services__service-price">от 450 ₽</div>
            <div
              class="btn variant-solid"
              role="button"
              aria-label="Вызвать специалиста"
              tabindex="0"
              data-modal="contact"
            >
              Вызвать специалиста
            </div>
          </div>
        </div>
      </div>

      <div class="services__form">
        <div class="bg-img">
          <Image src="services/form.jpg" />
        </div>

        <div class="services__form-text">
          <H2 class="font-semibold">Не нашли свою поломку?</H2>
          <p class="text-h4">
            <span class="font-semibold"
              >Мастер поможет обнаружить проблему и подсказать, какие услуги
              требуются.</span
            >
            Мы оказываем все услуги по обслуживанию кондиционеров, даже те, которых
            нет на сайте, свяжитесь с нами и мы поможем с выбором
          </p>
          <a href="#" class="services__form-contact">
            Или напишите нам в WhatsApp
            <Icon src="whatsapp-primary.svg" />
          </a>
        </div>

        <Image class="services__form-img" src="services/form-2.jpg" />

        <form class="services__form-content">
          <input type="text" name="name" placeholder="Ваше имя" required />
          <input type="tel" class="phone-mask" />
          <button class="btn variant-solid" type="submit"> Отправить </button>
          <div class="text-policy">
            Нажимая кнопку вы соглашаетесь с условиями
            <span
              class="text-primary font-semibold underline"
              role="button"
              tabindex="0"
              aria-label="Политики конфиденциальности данных"
              data-modal="policy"
            >
              Политики конфиденциальности данных
            </span>
          </div>
        </form>
      </div>
    </Section>

    <!-- Brands -->
    <Section name="brands" id="brands">
      <H2>
        <span class="font-semibold">Ремонтируем и обслуживаем</span> любые марки
        <br />
        кондиционеров. Беремся за задачи
        <span class="text-primary font-semibold"> любой сложности</span>
      </H2>

      <div class="brands__swiper">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <Image src="brands/lg.jpg" />
            </div>
            <div class="swiper-slide">
              <Image src="brands/beko.jpg" />
            </div>
            <div class="swiper-slide">
              <Image src="brands/yamaha.jpg" />
            </div>
            <div class="swiper-slide">
              <Image src="brands/bosch.jpg" />
            </div>
            <div class="swiper-slide">
              <Image src="brands/haier.jpg" />
            </div>
            <div class="swiper-slide">
              <Image src="brands/pioneer.jpg" />
            </div>
            <div class="swiper-slide">
              <Image src="brands/dantex.jpg" />
            </div>
            <div class="swiper-slide">
              <Image src="brands/electrolux.jpg" />
            </div>
            <div class="swiper-slide">
              <Image src="brands/general.jpg" />
            </div>
            <div class="swiper-slide">
              <Image src="brands/ballu.jpg" />
            </div>
            <div class="swiper-slide">
              <Image src="brands/chigo.jpg" />
            </div>
            <div class="swiper-slide">
              <Image src="brands/daikin.jpg" />
            </div>
            <div class="swiper-slide">
              <Image src="brands/general-climate.jpg" />
            </div>
          </div>
        </div>

        <div class="swiper-btn btn-prev">←</div>
        <div class="swiper-btn btn-next">→</div>
      </div>
    </Section>

    <!-- Price List -->
    <Section name="price" id="price">
      <div class="bg-img"></div>

      <div class="price__content">
        <div class="price__text">
          <div class="circle">
            Обновлен: <br />
            13.04.2024
          </div>
          <H1>
            <span class="font-semibold">
              Скачайте <br />
              <span class="text-primary">прайс-лист</span>
            </span>
            на все <br /> услуги в 1 клик
          </H1>
          <H4>Выберите куда вам удобнее отправить прайс?</H4>
        </div>

        <form class="price__form">
          <label for="socials">
            <select name="select" id="socials" required>
              <option value="Получить в WhatsApp">Получить в WhatsApp</option>
              <option value="Получить в Telegram">Получить в Telegram</option>
              <option value="Получить в Viber">Получить в Viber</option>
            </select>
            <svg
              width="15"
              height="15"
              viewBox="0 0 15 15"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M7.5 12L0 4H15L7.5 12Z" fill="black"></path>
            </svg>
          </label>
          <input type="tel" class="phone-mask" required />
          <button class="btn variant-solid" type="submit">
            Получить прайс сейчас
          </button>
          <div class="text-policy">
            Нажимая кнопку вы соглашаетесь с условиями
            <span
              class="text-primary font-semibold underline"
              role="button"
              tabindex="0"
              aria-label="Политики конфиденциальности данных"
              data-modal="policy"
            >
              Политики конфиденциальности данных
            </span>
          </div>
        </form>
      </div>
    </Section>

    <!-- Projects -->
    <Section name="projects" id="projects">
      <H2>
        За 2023 год выполнили <span class="font-semibold"
          >более <span class="text-primary">100 заказов</span></span
        ><br /> на ремонт и обслуживание кондиционеров
      </H2>

      <div class="projects__swiper">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <Image src="projects/1.jpg" />

              <div class="flex-col">
                <H4 class="font-semibold"
                  >Чистка наружнего блока и заправка фреоном</H4
                >
                <a
                  href="#calculate"
                  class="text-primary font-semibold underline"
                >
                  Рассчитать стоимость для своего объекта
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <Image src="projects/2.jpg" />

              <div class="flex-col">
                <H4 class="font-semibold">Заправка кондиционера 410 газам</H4>
                <a
                  href="#calculate"
                  class="text-primary font-semibold underline"
                >
                  Рассчитать стоимость для своего объекта
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <Image src="projects/3.jpg" />

              <div class="flex-col">
                <H4 class="font-semibold">Чистка углублёная</H4>
                <a
                  href="#calculate"
                  class="text-primary font-semibold underline"
                >
                  Рассчитать стоимость для своего объекта
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <Image src="projects/4.jpg" />

              <div class="flex-col">
                <H4 class="font-semibold"
                  >Замена конденсатора наружнего блока</H4
                >
                <a
                  href="#calculate"
                  class="text-primary font-semibold underline"
                >
                  Рассчитать стоимость для своего объекта
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <Image src="projects/1.jpg" />

              <div class="flex-col">
                <H4 class="font-semibold"
                  >Чистка наружнего блока и заправка фреоном</H4
                >
                <a
                  href="#calculate"
                  class="text-primary font-semibold underline"
                >
                  Рассчитать стоимость для своего объекта
                </a>
              </div>
            </div>
            <div class="swiper-slide">
              <Image src="projects/2.jpg" />

              <div class="flex-col">
                <H4 class="font-semibold">Заправка кондиционера 410 газам</H4>
                <a
                  href="#calculate"
                  class="text-primary font-semibold underline"
                >
                  Рассчитать стоимость для своего объекта
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-btn btn-prev">←</div>
        <div class="swiper-btn btn-next">→</div>
      </div>
    </Section>

    <!-- Reviews -->
    <Section name="reviews" id="reviews">
      <H2>
        <span class="font-semibold">Честны и открыты</span> в работе с вами
      </H2>
      <div class="reviews__list">
        <iframe
          id="youtube-iframe-731142841-1713026699717"
          width="100%"
          height="100%"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
          class="t-iframe loaded"
          data-original="https://www.youtube.com/embed/cKPbnXMyTd0?&loop=1&playlist=cKPbnXMyTd0&mute=1&enablejsapi=1"
          src="https://www.youtube.com/embed/cKPbnXMyTd0?&loop=1&playlist=cKPbnXMyTd0&mute=1&enablejsapi=1"
        ></iframe>
        <iframe
          id="youtube-iframe-731142841-1713026758479"
          width="100%"
          height="100%"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
          class="t-iframe loaded"
          data-original="https://www.youtube.com/embed/4hM6es5lgLA?&loop=1&playlist=4hM6es5lgLA&mute=1&enablejsapi=1"
          src="https://www.youtube.com/embed/4hM6es5lgLA?&loop=1&playlist=4hM6es5lgLA&mute=1&enablejsapi=1"
        ></iframe>
        <iframe
          id="youtube-iframe-731142841-1713026759828"
          width="100%"
          height="100%"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
          class="t-iframe loaded"
          data-original="https://www.youtube.com/embed/0bX_fWc6jug?&loop=1&playlist=0bX_fWc6jug&mute=1&enablejsapi=1"
          src="https://www.youtube.com/embed/0bX_fWc6jug?&loop=1&playlist=0bX_fWc6jug&mute=1&enablejsapi=1"
        ></iframe>
      </div>
    </Section>

    <!-- About -->
    <Section name="about" id="about">
      <H2 class="font-semibold">
        Здравствуйте! Меня зовут
        <span class="text-primary">Ефременко <br /> Дмитрий</span>, и от себя
        лично <span class="text-primary">я гарантирую:</span>
      </H2>

      <div class="about__advantages">
        <div class="about__advantages-item">
          <H4 class="font-semibold">Прозрачность и <br /> честность</H4>
          <p class="text-gray">
            Вы будете полностью осведомлены о <br /> предстоящем процессе и полной
            стоимости услуг. Без скрытых платежей и неожиданностей
          </p>
        </div>
        <div class="about__advantages-item">
          <H4 class="font-semibold">Быстрота <br /> и пунктуальность</H4>
          <p class="text-gray">
            Наши специалисты прибудут на вызов точно в назначенное время и
            выполнят работу за 2-3 часа
          </p>
        </div>
        <div class="about__advantages-item">
          <H4 class="font-semibold">Личная <br /> ответственность</H4>
          <p class="text-gray">
            Я контролирую каждый этап работы нашей команды и готов предоставить
            свою консультацию и поддержку на всех этапах сотрудничества.
          </p>
        </div>
      </div>

      <div class="about__img">
        <Image src="about/ceo.png" />

        <div class="about__img-ceo">
          <H3 class="font-semibold">Ефременко Дмитрий</H3>
          <span>Главный <br /> инженер</span>
        </div>
      </div>

      <div class="about__contact">
        <H3 class="font-semibold">Что случилось с кондиционером?</H3>
        <div class="about__contact-content">
          <div class="flex-row">
            <div
              class="btn variant-solid"
              role="button"
              aria-label="Нужен ремонт"
              data-modal="contact"
            >
              Нужен ремонт
            </div>
            <div
              class="btn variant-solid"
              role="button"
              aria-label="Нужно обслуживание"
              data-modal="contact"
            >
              Нужно обслуживание
            </div>
          </div>
          <div class="about__contact-socials">
            <H4>Или напишите мне <br /> в мессенджеры:</H4>
            <a href="https://wa.me/+79206076602" title="whatsapp">
              <Icon src="whatsapp.svg" />
            </a>
            <a href="https://t.me/+79206076602" title="whatsapp">
              <Icon src="telegram.svg" />
            </a>
          </div>
        </div>
      </div>

      <div class="about__stats">
        <div class="about__stats-item">
          <H3 class="font-semibold">1 год</H3>
          <p class="text-gray">Гарантия на работу</p>
        </div>
        <div class="about__stats-item">
          <H3 class="font-semibold">532 клиентов</H3>
          <p class="text-gray">обслуживаем по договору</p>
        </div>
        <div class="about__stats-item">
          <H3 class="font-semibold">4 года</H3>
          <p class="text-gray">Компания на рынке</p>
        </div>
        <div class="about__stats-item">
          <H3 class="font-semibold">4 мастера</H3>
          <p class="text-gray">в команде</p>
        </div>
      </div>
    </Section>

    <!-- Team -->
    <Section name="team">
      <H2>
        Мы собирали команду сертифицированных специалистов на протяжении 4 лет, <span
          class="font-semibold"
        >
          опыт каждого из них - <span class="text-primary">от 5 лет</span></span
        >
      </H2>

      <div class="team__content">
        <div class="team__swiper">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <Image src="team/1.jpg" />
                <div class="flex-col">
                  <H4 class="font-semibold">Ефременко Дмитрий Александрович</H4>
                  <p class="text-h4">Главный инженер</p>
                </div>
              </div>
              <div class="swiper-slide">
                <Image src="team/2.jpg" />
                <div class="flex-col">
                  <H4 class="font-semibold">Родин Богдан Валерьевич</H4>
                  <p class="text-h4">Электрик</p>
                </div>
              </div>
              <div class="swiper-slide">
                <Image src="team/3.jpg" />
                <div class="flex-col">
                  <H4 class="font-semibold">Юдин Максим Иванович</H4>
                  <p class="text-h4">Инженер</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <form class="team__form">
          <H3 class="font-semibold"
            >Оставьте заявку на консультацию от <br /> специалиста из команды</H3
          >
          <H4
            >Рассчитаем стоимость обслуживания по телефону <span
              class="font-semibold text-primary">за 30 секунд</span
            ></H4
          >
          <div class="team__form-group">
            <input type="tel" class="phone-mask" required />
            <button class="btn variant-solid" type="submit"> Отправить </button>
          </div>
          <div class="text-policy">
            Нажимая кнопку вы соглашаетесь с условиями
            <span
              class="text-primary font-semibold underline"
              role="button"
              tabindex="0"
              aria-label="Политики конфиденциальности данных"
              data-modal="policy"
            >
              Политики конфиденциальности данных
            </span>
          </div>
        </form>
      </div>
    </Section>

    <!-- Application -->
    <Section name="application">
      <div class="application__content">
        <div class="application__text">
          <H2 class="font-semibold">
            Оставьте заявку на <br /> бесплатный выезд <br /> специалиста</H2
          >
          <p class="text-h4">
            <span class="font-semibold"
              >Сразу помогу определить причины и расценки на ремонт и
              обслуживание кондиционеров,</span
            > с учетом запасных частей
          </p>
        </div>

        <div class="application__call">
          <H4>Позвоните</H4>
          <a class="text-h2 font-semibold text-primary" href="tel:+79206076602"
            >+7 (920) 607 66-02</a
          >
        </div>

        <div class="application__ceo">
          <div class="text-h3 font-semibold">Ефременко Дмитрий</div>
          <div class="text-h4">Главный инженер</div>
        </div>

        <form class="application__form">
          <H3 class="font-semibold"
            >Оставьте заявку и я <br /> перезвоню в течение <br /> 5 минут</H3
          >
          <H4
            >Рассчитаем стоимость <br /> обслуживания по телефону <br />
            <span class="font-semibold text-primary">за 30 секунд</span></H4
          >
          <div class="application__form-group">
            <input type="tel" class="phone-mask" required />
            <button class="btn variant-solid" type="submit"> Отправить </button>
          </div>
          <div class="text-policy">
            Нажимая кнопку вы соглашаетесь с условиями
            <span
              class="text-primary font-semibold underline"
              role="button"
              tabindex="0"
              aria-label="Политики конфиденциальности данных"
              data-modal="policy"
            >
              Политики конфиденциальности данных
            </span>
          </div>
        </form>

        <div class="application__socials">
          <div class="text-h4">
            Или напишите мне <br /> в мессенджеры:
          </div>
          <a href="https://wa.me/+79206076602" title="whatsapp">
            <div class="icon">
              <img
                src="./assets/img/icons/whatsapp.svg"
                alt=""
                loading="lazy"
              />
            </div>
          </a>
          <a href="https://t.me/+79206076602" title="whatsapp">
            <div class="icon">
              <img
                src="./assets/img/icons/telegram.svg"
                alt=""
                loading="lazy"
              />
            </div>
          </a>
        </div>
      </div>
    </Section>

    <!-- Agreement -->
    <Section name="agreement">
      <div class="agreement__text">
        <H2 class="font-semibold">
          Работаем по
          <span class="text-primary">простому и <br /> понятному договору</span>
          на <br /> одном листе
        </H2>
        <ul class="agreement__list">
          <li class="agreement__list-item">
            <H3>Фиксируем весь объем работ в договоре</H3>
          </li>
          <li class="agreement__list-item">
            <H3>Цена не изменяется в процессе работ</H3>
          </li>
          <li class="agreement__list-item">
            <H3>Строго соблюдаем сроки</H3>
          </li>
          <li class="agreement__list-item">
            <H3>Работаем без пыли и грязи, гарантируем чистоту</H3>
          </li>
          <li class="agreement__list-item">
            <H3>Гарантия 1 год после оказания услуг</H3>
          </li>
        </ul>
      </div>
      <div class="agreement__img">
        <Image src="agreement.png" />
      </div>
    </Section>

    <!-- Parts -->
    <Section name="parts">
      <div class="parts__content">
        <H2 class="font-semibold">
          <span class="text-primary"> Собственный склад запчастей.</span> Запчасти
          для кондиционеров любых марок в наличии
        </H2>
        <p class="text-h4">
          Наши специалисты готовы привезти необходимые компоненты прямо к вам и
          произвести замену быстро и квалифицированно. Обеспечиваем
          бесперебойную работу вашего оборудования без лишнего ожидания!
        </p>
        <div class="parts__calculate">
          <div
            class="btn variant-solid"
            role="button"
            tabindex="0"
            aria-label="Рассчитать стоимость"
          >
            Рассчитать стоимость
          </div>
          <div class="text-h4 text-gray">
            После расчета получите - <br />
            <span class="font-semibold"
              >скидку на услуги <span class="text-primary"> 10%</span></span
            >
          </div>
        </div>
      </div>
    </Section>

    <!-- Steps -->
    <Section name="steps">
      <div class="bg-img"></div>
      <div class="steps__content">
        <H2 class="font-semibold">
          4 шага как заказать ремонт или <br /> обслуживание кондиционера
        </H2>
        <div class="steps__list">
          <div class="steps__item">
            <div class="steps__item-step">1 шаг</div>
            <H3>
              Получение заявки, мастер связывается по телефону и
              <span class="font-semibold">
                приезжает на бесплатную диагностику в день обращения</span
              >
            </H3>
          </div>
          <div class="steps__item">
            <div class="steps__item-step">2 шаг</div>
            <H3 class="font-semibold">
              Мастер проводит диагностику, устанавливает степень поломки
            </H3>
            <p class="text-gray">
              Фиксируем все услуги. Гарантируем сопровождения полного спектра
              услуг по договору
            </p>
          </div>
          <div class="steps__item">
            <div class="steps__item-step">3 шаг</div>
            <H3 class="font-semibold"> Мастер приступает к работам </H3>
            <ul class="text-gray">
              <li>Снимаем обувь на входе</li>
              <li>Ремонтируем чисто, без пыли и грязи</li>
              <li>Оплачиваете после ремонта</li>
              <li>Скидка -10% через сайт пенсионерам</li>
            </ul>
          </div>
          <div class="steps__item">
            <div class="steps__item-step">4 шаг</div>
            <div class="flex-col">
              <H4> Звоните нам </H4>
              <a class="text-h3 font-semibold" href="tel:+79206076602">
                +7 (920) 607 66-02
              </a>
            </div>

            <ul>
              <li>Сейчас работаем, звоните</li>
            </ul>

            <form class="steps__form">
              <H4>Или оставьте заявку</H4>
              <input type="tel" class="phone-mask" required />
              <button class="btn variant-solid size-small" type="submit">
                Оставить заявку
              </button>
              <div class="text-policy">
                Нажимая на кнопку вы <br /> соглашаетесь с правилами <br />
                <span
                  class="text-primary font-semibold underline"
                  role="button"
                  tabindex="0"
                  aria-label="Политики конфиденциальности данных"
                  data-modal="policy"
                >
                  политики конфиденциальности
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </Section>

    <!-- Discounts -->
    <Section name="discounts">
      <H2 class="font-semibold">Актуальные скидки и акции</H2>
      <div class="discounts__form">
        <div class="discounts__form-text">
          <H2 class="font-semibold">-10% скидка пенсионерам</H2>
          <p class="text-h4 text-gray">
            <span class="font-semibold"
              >Мы перезвоним в течение 10 минут и проконсультируем.</span
            >
            Консультация бесплатная и ни к чему не обязывает, вы можете отказаться
            в любой момент.
          </p>
          <a href="#" class="discounts__form-contact">
            <span><span>Или</span> напишите нам в WhatsApp</span>
            <Icon src="whatsapp-green.svg" />
          </a>
        </div>

        <Image class="discounts__form-img" src="discounts.png" />

        <form class="discounts__form-content">
          <H3 class="font-semibold">Заполните форму</H3>
          <p class="text-h4 text-gray">
            И мастер свяжется с вами в течение 10 минут
          </p>
          <input type="tel" class="phone-mask" />
          <button class="btn variant-solid" type="submit"> Отправить </button>
          <div class="text-policy text-gray">
            Нажимая кнопку вы соглашаетесь с условиями
            <span
              class="text-primary font-semibold underline"
              role="button"
              tabindex="0"
              aria-label="Политики конфиденциальности данных"
              data-modal="policy"
            >
              Политики конфиденциальности данных
            </span>
          </div>
        </form>
      </div>
    </Section>

    <!-- Faq -->
    <Section name="faq">
      <H2>
        <span class="font-semibold">Популярные вопросы,</span><br />
        которые задают нашему <br /> менеджеру
      </H2>
      <H3 class="text-gray">
        Часто для принятия правильного решения, стоит собрать больше <br /> информации,
        ниже ответы на самые популярные вопросы
      </H3>
      <div class="faq__list" data-accordion="faq">
        <div class="accordion">
          <div class="accordion__header">
            <div class="text-h4 font-semibold">Сколько стоит диагностика?</div>
            <div class="accordion__header-icon"></div>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              Наша диагностика стоит бесплатно! Мы приедем к Вам домой или в
              офис, сделаем диагностику кондиционера и озвучим стоимость его
              ремонта!
            </div>
          </div>
        </div>

        <div class="accordion">
          <div class="accordion__header">
            <div class="text-h4 font-semibold">
              Как часто нужно обслуживать кондиционер?
            </div>
            <div class="accordion__header-icon"></div>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              Кондиционеры рекомендовано обслуживать не реже одного раза в
              полгода. Для исправной работы сплит-системы проверяют весной перед
              началом работы, и осенью, когда технику выключают на зимний
              период. Если кондиционером вы пользуетесь не часто, как например в
              офисе - каждый день, то достаточно обслуживать один раз в год
              перед началом периодом использования.
            </div>
          </div>
        </div>

        <div class="accordion">
          <div class="accordion__header">
            <div class="text-h4 font-semibold">
              Сколько времени занимает обслуживание?
            </div>
            <div class="accordion__header-icon"></div>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              Обслуживание и чистка кондиционера занимает около одного часа,
              чистка очень грязного кондиционера - займет около двух часов. Если
              в процессе осмотра обнаружена поломка, срок ремонта зависит от
              характера проблемы и сложности работы.
            </div>
          </div>
        </div>

        <div class="accordion">
          <div class="accordion__header">
            <div class="text-h4 font-semibold">
              Какую вы даёте гарантию на свои работы?
            </div>
            <div class="accordion__header-icon"></div>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              Компания ClimatLeto много лет занимается ремонтом и обслуживанием
              кондиционеров различного назначения. На весь спектр работ клиенты
              получают гарантию – от 12 до 36 месяцев, бланк по форме БСО-1
              выдается владельцу на руки после завершения работ. Мастера сделают
              все необходимое, чтоб кондиционеры настенного типа, комплексные
              сплит-системы радовали владельцев, работали без перебоя длительный
              срок.
            </div>
          </div>
        </div>

        <div class="accordion">
          <div class="accordion__header">
            <div class="text-h4 font-semibold">Зачем нужна дезинфекция?</div>
            <div class="accordion__header-icon"></div>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              В процессе работы на дренажных, фильтрационных элементах
              накапливаются бактерии, грибки и вирусы. Микробы становятся
              причиной опасных болезней. Избавиться от микроорганизмов можно
              только при помощи полноценной обработки узлов специальным
              антисептиком.
            </div>
          </div>
        </div>

        <div class="accordion">
          <div class="accordion__header">
            <div class="text-h4 font-semibold">
              Чем грозит, если не обслуживать?
            </div>
            <div class="accordion__header-icon"></div>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              Если не проводить профилактику, можно столкнуться с крупной
              поломкой или негативными моментами – протечка конденсата,
              появления неприятного запаха, ухудшение рабочих показателей. Наши
              мастера проводят комплексные профилактические работы, которые
              улучшат состояние техники, избавят владельцев от необходимости
              дорогостоящего ремонта.
            </div>
          </div>
        </div>

        <div class="accordion">
          <div class="accordion__header">
            <div class="text-h4 font-semibold">Кондиционер не охлаждает?</div>
            <div class="accordion__header-icon"></div>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              Первая причина это недостаточно фреона в системе. В этом случае
              нужно вызвать мастера для дозаправки, важно указать марку
              кондиционера; вентилятор наружного или внутреннего блока не
              запускается. Здесь причин может быть много: поломка модуля
              управления, неисправность электродвигателя, межблочного
              соединения; неисправность датчиков. Нужен профессиональный ремонт
              или замена блока;
            </div>
          </div>
        </div>

        <div class="accordion">
          <div class="accordion__header">
            <div class="text-h4 font-semibold">Скидка для пенсионеров</div>
            <div class="accordion__header-icon"></div>
          </div>
          <div class="accordion__body">
            <div class="accordion__content">
              Мы предоставляем скидку пенсионерам 20% на работу мастера, в эту
              стоимость не входят расходники.
            </div>
          </div>
        </div>
      </div>
    </Section>

    <!-- Contact -->
    <Section name="contacts" id="contacts">
      <div class="contacts__content">
        <div class="contacts__text">
          <p class="text-h4">
            Досмотрели сайт до конца, но <br /> не оставили заявку?
          </p>
          <H2 class="font-semibold">
            Просто позвоните нам, и я сразу на созвоне расскажу, что случилось с
            кондиционером и в <span class="text-primary"
              >какую стоимость выйдет ремонт и обслуживание</span
            >
          </H2>
        </div>

        <div class="contacts__socials">
          <H4>Прямо сейчас мы работаем, пишите</H4>
          <div class="flex-row">
            <a href="#" class="contacts__socials-whatsapp" title="whatsapp">
              <span>Напишите нам в WhatsApp</span>
              <Icon src="whatsapp.svg" />
            </a>
            <a
              href="https://t.me/+79206076602"
              class="contacts__socials-telegram"
              title="whatsapp"
            >
              <div class="icon">
                <img
                  src="./assets/img/icons/telegram.svg"
                  alt=""
                  loading="lazy"
                />
              </div>
            </a>
          </div>
        </div>

        <div class="contacts__ceo">
          <div class="text-h3 font-semibold">Ефременко Дмитрий</div>
          <div class="text-h4 text-gray">Главный инженер</div>
        </div>

        <div class="contacts__call">
          <div class="text-h4">Или звоните</div>
          <div class="contacts__call-content">
            <a class="text-gray" href="tel:+79206076602" title="phone"
              >+7 (920) <span class="font-semibold">607 66-02</span></a
            >
            <span
              class="underline"
              role="button"
              tabindex="0"
              aria-label="Заказать обратный звонок"
              data-modal="callback">Заказать обратный звонок</span
            >
          </div>
        </div>
      </div>
    </Section>
  </main>
</App>
